@media screen and (min-width: :350px) 
html,
body {
    margin: 0px;
    max-width: 100%;
    height: 100%;
    border: 1px solid black;
    font-family: sans-serif;
}

h1 {
	text-align: center;
	font-size: 22px;
}

#map {
    width: 100%;
    height: 500px;
    margin: auto;
}

hr {
    color: #4d90fe;
}

#data-bind {
    width: 100%;
    color: #4d90fe;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

.alllocation {
    position: absolute; /*Works best when absolutely positioned or floated*/
    width: 0px; 
    transition: all 0.15s;
    right: 0;
    top: 50px;
    background-color: white;
    margin: 0;
}

.filteredlist{
    float:left;
    min-width:100px;
    padding:0;
    margin: 0;
}

.search {
	max-width: 120px;
	}
}
